{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'detail.css' %}">
</head>


  {% block body %}
<body>
  <nav class="navbar navbar-white bg-white">
    <a class="navbar-brand" href="#">
      <img src="{% static 'detail.png' %}" width="40" height="40" class="d-inline-block align-top" alt="">
      DETAIL PAGE
    </a>
  </nav>
<h1>
     
      Bookname : {{mybook.bookname}}<br></h1>
     <div class="centered">
     <img width="200" height="300"src="{{mybook.image.url}}">
     </div>
     <p>description:-{{mybook.description}}</p>
     <h3>Price:-{{mybook.price}}</h3>
     <h4>available:-{{mybook.available}}<br>
     <a class='btn btn-warning' href="update/{{mybook.id}}">Update</a>
     <a class='btn btn-warning' href="delete/{{mybook.id}}">Remove</a>
    </h4>
</body>
  {% endblock %}
</html>