body {
    background-color:rosybrown; 
    text-align: center;
}
  
  h1 {
    color:azure ;
    text-align: center;
  }
  
  p {
    color:azure ;
    font-family: verdana;
    font-size: 20px;
  }
  h3 {
    color:azure ;
    text-align: center;
  }
  h4 {
    color:azure ;
    text-align: center;
  }
